<% layout('layout') -%>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col mdl-color--white mdl-color-text--black-100 mdl-shadow--2dp" style="padding-left: 10px;">
		<h2>
			<b>About AudioVoid</b>
		</h2>
		<p>AudioVoid is an online social media network dedicated to musicians, producers, and fans to share, collaborate, discuss music.</p>
		<p>Users are also able to share their opinions through comments on other users pages.</p>
		<p>Users are able to repost and add songs to their profiles.</p>
		<p>Due to its responsive design AudioVoid can be accessed on any platform and device.</p>
		<p>Dont have an AudioVoid profile? Create one now.</p>
		<div style="padding-bottom: 10px;"><a href="/auth" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-color--red-600" type="submit" value="Register">Register</a></div>
	</div>
</div>
