<% layout('layout') -%>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
		<% for(var s in songs) { %>
			<%- partial("templates/repost", {view: "song", options: {user: users[songs[s].UserId], song: songs[s]},  user: users[songs[s].UserId]}) %>
		<% } %>
	</div>
	<div class="mdl-cell mdl-cell--6-col">
		<% for(var p in posts) { %>
			<%- partial("templates/post", {post: posts[p], user: users[posts[p].UserId]}) %>
		<% } %>
	</div>
</div>
