<% layout('layout') -%>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col mdl-color--red-900 mdl-color-text--black-100 mdl-shadow--2dp">
		<h1 class="center">Welcome to AudioVoid</h1>
	</div>
	<div class="mdl-cell mdl-cell--4-col mdl-color--white mdl-color-text--black-100 mdl-shadow--2dp">
		<h4 class="center">Top Artists </h4>
	</div>
	<div class="mdl-cell mdl-cell--4-col mdl-color--white mdl-color-text--black-100 mdl-shadow--2dp">
		<i class="material-icons center titleIcon">headset</i>
	</div>
	<div class="mdl-cell mdl-cell--4-col mdl-color--white mdl-color-text--black-100 mdl-shadow--2dp">
		<h4 class="center">Top Songs </h4>
	</div>
	<div class="mdl-cell mdl-cell--4-col mdl-color--white mdl-color-text--black-100 mdl-shadow--2dp" style="padding: 10px">
		<i class="material-icons center" style="font-size: 50px">audiotrack</i>
		<h4 class="center">	Discover new artists</h4>
	</div>
	<!--<div class="mdl-cell mdl-cell--3-col mdl-color--white mdl-color-text--black-100 mdl-shadow--2dp" style="padding: 10px">
		<i class="material-icons center" style="font-size: 50px">people</i>
		<h4 class="center">Discover new people</h4>
		</div>-->
	<div class="mdl-cell mdl-cell--4-col mdl-color--white mdl-color-text--black-100 mdl-shadow--2dp" style="padding: 10px">
		<i class="material-icons center" style="font-size: 50px">radio</i>
		<h4 class="center">Stream music</h4>
	</div>
	<div class="mdl-cell mdl-cell--4-col mdl-color--white mdl-color-text--black-100 mdl-shadow--2dp" style="padding: 10px">
		<i class="material-icons center " style="font-size: 50px ">playlist_play</i>
		<h4 class="center">Create playlists</h4>
	</div>
</div>
