<% layout('layout') -%>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--6-col mdl-color--white mdl-color-text--black login-header">
		<h2>Login</h2>
		<form action="/auth/login" method="post" noajax>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" name="username">
				<label class="mdl-textfield__label">Username:</label>
			</div>
			<br>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="password" name="password">
				<label class="mdl-textfield__label">Password</label>
			</div>
			<br>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-color--red-600" type="submit" value="Log In">Log in</button>
		</form>
	</div>
	<div class="mdl-cell mdl-cell--6-col mdl-color--white mdl-color-text--black login-header">
		<h2>Register</h2>
		<form action="/auth/register" method="post">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" name="username">
				<label class="mdl-textfield__label">Username:</label>
			</div>
			<br>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" name="email">
				<label class="mdl-textfield__label">Email:</label>
			</div>
			<br>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="password" name="password">
				<label class="mdl-textfield__label">Password:</label>
			</div>
			<br>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="password" name="confirmPassword">
				<label class="mdl-textfield__label">Confirm password:</label>
			</div>
			<br>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-color--red-600" type="submit" value="Register">Register</button>
		</form>
	</div>
</div>
